
@model List<Product>

<p>Product</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Quantity</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <th scope="row">@i.Id</th>
                <td>
                    <img src="@(i.ImageUrl ?? "https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930")" alt="@i.Title" height="40" />
                </td>
                <td>@i.Title</td>
                <td>
                    @if(i.Discount > 0)
                    {
                        <span class="text-decoration-line-through">@i.Price$</span>
                        <span class="ms-2">@((i.Price * (100 - i.Discount)) / 100)$</span>
                    }
                    else
                    {
                        <span>@i.Price$</span>
                    }
                </td>
                <td>@i.Category</td>
                <td>@i.Quantity</td>
                <td>
                    @if(i.Quantity > 0)
                    {
                        <span class="badge text-bg-success">In Stock</span>
                    }
                    else
                    {
                        <span class="badge text-bg-secondary">Out of Stock</span>
                    }

                </td>

            </tr>
		}
    </tbody>
</table>
@if (Model.Count == 0)
{
    <div class="tab-content">
        <img width="500" src="https://cdni.iconscout.com/illustration/premium/thumb/empty-state-concept-illustration-svg-download-png-2902554.png" alt="Alternate Text" />
    </div>
}